* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
    text-decoration: none;
    list-style: none;
    transition: .2s;
}

html {
    overflow: overlay;
    scroll-behavior: smooth;
}

.english {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header.sticky {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
}

header.sticky.mode {
    background-color: rgba(0, 0, 0);
}

header .container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

header.sticky .container {
    padding: 20px 30px;
}

header .container .logo {
    cursor: default;
    color: rgba(255, 255, 255);
    font-size: 30px;
}

header.sticky .container .logo {
    color: rgba(0, 0, 0);
}

header.sticky.mode .container .logo {
    color: rgba(255, 255, 255);
}

header .container .nav {
    display: flex;
    align-items: center;
}

header .container .nav a {
    cursor: pointer;
    color: rgba(127.5, 127.5, 127.5);
    margin-left: 20px;
    font-size: 20px;
}

header.language .container .nav a.spanish {
    display: none;
}

header.language .container .nav a.english {
    display: flex;
}

header.sticky .container .nav a {
    color: rgba(191.25, 191.25, 191.25);
}

header.sticky.mode .container .nav a {
    color: rgba(63.75, 63.75, 63.75);
}

header .container .nav a.active {
    color: rgba(255, 255, 255);
}

header.sticky .container .nav a.active {
    color: rgba(0, 0, 0);
}

header.sticky.mode .container .nav a.active {
    color: rgba(255, 255, 255);
}

header .container .nav a:hover {
    color: rgba(255, 255, 255);
}

header.sticky .container .nav a:hover {
    color: rgba(0, 0, 0);
}

header.sticky.mode .container .nav a:hover {
    color: rgba(255, 255, 255);
}

header .container .nav .switchs {
    display: flex;
    margin-left: 10px;
}

header .container .nav .switchs label {
    position: relative;
    width: 60px;
    height: 30px;
    margin-left: 10px;
}

header .container .nav .switchs label input {
    display: none;
}

header .container .nav .switchs label span {
    cursor: pointer;
    background-color: rgba(127.5, 127.5, 127.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
}

header.sticky .container .nav .switchs label span {
    background-color: rgba(191.25, 191.25, 191.25);
}

header.sticky.mode .container .nav .switchs label span {
    background-color: rgba(63.75, 63.75, 63.75);
}

header .container .nav .switchs label span::before {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-size: 24px;
    position: absolute;
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    border-radius: 100%;
    content: "";
}

header .container .nav .switchs label.language span::before {
    background-image: url(svgs/es.svg);
    transition: .2s;
}

header .container .nav .switchs label.language input:checked+span:before {
    background-image: url(svgs/en.svg);
    transform: translateX(30px);
    transition: .2s;
}

header .container .nav .switchs label.mode span::before {
    background-image: url(svgs/sun.svg);
    background-color: rgb(130, 190, 255);
    transition: .2s;
}

header .container .nav .switchs label.mode input:checked+span:before {
    background-image: url(svgs/moon.svg);
    background-color: rgba(30, 35, 40);
    transform: translateX(30px);
    transition: .2s;
}

header .container .menu {
    display: none;
}

section.home {
    cursor: default;
    background-image: linear-gradient(rgba(31.875, 31.875, 31.875, .5), rgba(223.125, 223.125, 223.125, .5)), url(images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

section.home.mode {
    background-image: linear-gradient(rgba(31.875, 31.875, 31.875, .5), rgba(31.875, 31.875, 31.875, .5)), url(images/wallpaper.jpg);
}

section.home .profile {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    display: flex;
    margin: auto;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

section.home.mode .profile {
    background-color: rgba(0, 0, 0);
}

section.home .profile img {
    justify-content: center;
    width: 200px;
    margin-right: 25px;
    border: 4px solid rgba(0, 0, 0);
    border-radius: 100%;
}

section.home.mode .profile img {
    border-color: rgba(255, 255, 255);
}

section.home .profile .content {
    text-align: center;
}

section.home .profile .content h1 {
    color: rgba(0, 0, 0);
    font-size: 40px;
}

section.home.mode .profile .content h1 {
    color: rgba(255, 255, 255);
}

section.home .profile .content h2 {
    color: rgba(0, 0, 0);
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: normal;
}

section.home.language .profile .content h2.spanish {
    display: none;
}

section.home.language .profile .content h2.english {
    display: flex;
    justify-content: center;
}

section.home.mode .profile .content h2 {
    color: rgba(255, 255, 255);
}

section.home .profile .content .nets {
    display: flex;
    justify-content: center;
}

section.home .profile .content .nets a {
    cursor: pointer;
    color: rgba(0, 0, 0);
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 100%;
    font-size: 25px;
}

section.home.mode .profile .content .nets a {
    color: rgba(255, 255, 255);
    border-color: rgba(255, 255, 255);
}

section.home .profile .content .nets a:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}

section.home.mode .profile .content .nets a:hover {
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
}

section.about {
    background-color: rgba(223.125, 223.125, 223.125);
    color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
}

section.about.mode {
    background-color: rgba(31.875, 31.875, 31.875);
    color: rgba(255, 255, 255);
}

section.about .container {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    margin-top: 120px;
    padding: 40px 30px;
    width: 1000px;
    justify-content: center;
    border-radius: 30px;
}

section.about.mode .container {
    background-color: rgba(0, 0, 0);
}

section.about .container h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

section.about.language .container h2.spanish {
    display: none;
}

section.about.language .container h2.english {
    display: flex;
    justify-content: center;
}

section.about .container p {
    text-align: justify;
    font-size: 17.5px;
}

section.about.language .container p.spanish {
    display: none;
}

section.about.language .container p.english {
    display: block;
    text-align: justify;
}

section.about .container h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

section.about.language .container h3.spanish {
    display: none;
}

section.about.language .container h3.english {
    display: flex;
}

section.about .container .row {
    display: flex;
    margin: 40px 0 20px;
}

section.about .container .row .column {
    width: 50%;
}

section.about .container .row .column .fact {
    margin-bottom: 20px;
    font-size: 17.5px;
}

section.about.language .container .row .column .fact strong.spanish {
    display: none;
}

section.about.language .container .row .column .fact strong.english {
    display: initial;
}

section.about .container .row .column .fact i {
    text-align: center;
    width: 17.5px;
}

section.about .container .row .column .interests {
    display: flex;
    flex-wrap: wrap;
}

section.about .container .row .column .interests .interest {
    cursor: default;
    background-color: rgba(223.125, 223.125, 223.125);
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 75px;
    margin: 0 15px 15px 0;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

section.about.mode .container .row .column .interests .interest {
    background-color: rgba(31.875, 31.875, 31.875);
}

section.about .container .row .column .interests .interest:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}

section.about.mode .container .row .column .interests .interest:hover {
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
}

section.about .container .row .column .interests .interest i {
    font-size: 20px;
    margin-bottom: 5px;
}

section.about .container .row .column .interests .interest span {
    font-size: 17.5px;
}

section.about.language .container .row .column .interests .interest span.spanish {
    display: none;
}

section.about.language .container .row .column .interests .interest span.english {
    display: flex;
}

section.curriculum {
    background-color: rgba(223.125, 223.125, 223.125);
    color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
}

section.curriculum.mode {
    background-color: rgba(31.875, 31.875, 31.875);
    color: rgba(255, 255, 255);
}

section.curriculum .container {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    margin-top: 120px;
    padding: 40px 30px;
    width: 1000px;
    justify-content: center;
    border-radius: 30px;
}

section.curriculum.mode .container {
    background-color: rgba(0, 0, 0);
}

section.curriculum .container h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

section.curriculum.language .container h2.spanish {
    display: none;
}

section.curriculum.language .container h2.english {
    display: flex;
    justify-content: center;
}

section.curriculum .container h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

section.curriculum.language .container h3.spanish {
    display: none;
}

section.curriculum.language .container h3.english {
    display: flex;
}

section.curriculum .container .row1 {
    margin: 30px 0 50px;
}

section.curriculum .container .row1 .column .skill {
    margin-bottom: 30px;
    font-size: 17.5px;
}

section.curriculum .container .row1 .column .skill>span>p {
    display: inline-block;
}

section.curriculum .container .row1 .column .skill>span>p.english {
    display: none;
}

section.curriculum.language .container .row1 .column .skill>span>p.spanish {
    display: none;
}

section.curriculum.language .container .row1 .column .skill>span>p.english {
    display: inline-block;
}

section.curriculum .container .row1 .column .skill .icon {
    width: 17.5px;
}

section.curriculum .container .row1 .column .skill .bar {
    position: relative;
    background-color: rgba(223.125, 223.125, 223.125);
    height: 10px;
    margin-top: 10px;
    border-radius: 100vh;
}

section.curriculum.mode .container .row1 .column .skill .bar {
    background-color: rgba(31.875, 31.875, 31.875);
}

section.curriculum .container .row1 .column .skill .bar .progress {
    background-color: rgba(63.75, 63.75, 63.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 10px;
}

section.curriculum.mode .container .row1 .column .skill .bar .progress {
    background-color: rgba(191.25, 191.25, 191.25);
}

section.curriculum .container .row1 .column .skill .bar .progress span {
    background-color: rgba(63.75, 63.75, 63.75);
    color: rgba(255, 255, 255);
    position: absolute;
    top: -5px;
    right: -20px;
    height: 20px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
}

section.curriculum.mode .container .row1 .column .skill .bar .progress span {
    background-color: rgba(191.25, 191.25, 191.25);
    color: rgba(0, 0, 0);
}

section.curriculum .container .row1 .column .skill .jsorts {
    width: 0%;
    animation: 1s jsorts forwards;
}

@keyframes jsorts {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

section.curriculum .container .row1 .column .skill .htmlandcss {
    width: 0%;
    animation: 1s htmlandcss forwards;
}

@keyframes htmlandcss {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

section.curriculum .container .row1 .column .skill .python {
    width: 0%;
    animation: 1s python forwards;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

section.curriculum .container .row1 .column .skill .java {
    width: 0%;
    animation: 1s java forwards;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

section.curriculum .container .row1 .column .skill .csharp {
    width: 0%;
    animation: 1s csharp forwards;
}

@keyframes csharp {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

section.curriculum .container .row2 {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

section.curriculum .container .row2 .column {
    width: 49%;
    padding: 0 19px;
}

section.curriculum .container .row2 .left1 {
    border-right: 2px solid rgba(0, 0, 0);
}

section.curriculum.mode .container .row2 .left1 {
    border-right-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .right1 {
    border-left: 2px solid rgba(0, 0, 0);
}

section.curriculum.mode .container .row2 .right1 {
    border-left-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .left1 .item {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.curriculum .container .row2 .right1 .item {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.curriculum .container .row2 .column .item {
    background-color: rgba(223.125, 223.125, 223.125);
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
}

section.curriculum.mode .container .row2 .column .item {
    background-color: rgba(31.875, 31.875, 31.875);
}

section.curriculum .container .row2 .column .item h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

section.curriculum.language .container .row2 .column .item h4.spanish {
    display: none;
}

section.curriculum.language .container .row2 .column .item h4.english {
    display: flex;
}

section.curriculum .container .row2 .column .item .place {
    color: rgba(63.75, 63.75, 63.75);
    display: block;
    font-size: 17.5px;
    font-weight: bold;
}

section.curriculum .container .row2 .column .item .place.english {
    display: none;
}

section.curriculum.language .container .row2 .column .item .place.spanish {
    display: none;
}

section.curriculum.language .container .row2 .column .item .place.english {
    display: flex;
}

section.curriculum.mode .container .row2 .column .item .place {
    color: rgba(191.25, 191.25, 191.25);
}

section.curriculum .container .row2 .column .item .date {
    color: rgba(63.75, 63.75, 63.75);
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}

section.curriculum .container .row2 .column .item .date.english {
    display: none;
}

section.curriculum.language .container .row2 .column .item .date.spanish {
    display: none;
}

section.curriculum.language .container .row2 .column .item .date.english {
    display: flex;
}

section.curriculum.mode .container .row2 .column .item .date {
    color: rgba(191.25, 191.25, 191.25);
}

section.curriculum .container .row2 .column .item p {
    text-align: justify;
    font-size: 17.5px;
}

section.curriculum .container .row2 .left2 {
    border-right: 2px solid rgba(0, 0, 0);
    margin-right: 20px;
}

section.curriculum.mode .container .row2 .left2 {
    border-right-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .right2 {
    border-left: 2px solid rgba(0, 0, 0);
    margin-left: 20px;
}

section.curriculum.mode .container .row2 .right2 {
    border-left-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .column .item .connectorleft {
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 50%;
    right: -47px;
    height: 2px;
    width: 47px;
    z-index: 5;
}

section.curriculum.mode .container .column .item .connectorleft {
    background-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .column .item .connectorleft .circle {
    background-color: rgba(0, 0, 0);
    display: block;
    position: relative;
    height: 10px;
    width: 10px;
    float: right;
    border-radius: 50%;
    bottom: 4px;
}

section.curriculum.mode .container .column .item .connectorleft .circle {
    background-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .column .item .connectorright {
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 50%;
    left: -47px;
    height: 2px;
    width: 47px;
    z-index: 5;
}

section.curriculum.mode .container .column .item .connectorright {
    background-color: rgba(255, 255, 255);
}

section.curriculum .container .row2 .column .item .connectorright .circle {
    background-color: rgba(0, 0, 0);
    display: block;
    position: relative;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
    bottom: 4px;
}

section.curriculum.mode .container .column .item .connectorright .circle {
    background-color: rgba(255, 255, 255);
}

section.curriculum .container .download {
    cursor: pointer;
    background-color: transparent;
    color: rgba(0, 0, 0);
    display: block;
    position: relative;
    margin: 20px auto;
    padding: 15px 15px;
    border: 2px solid rgba(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

section.curriculum .container .download p {
    display: inline-block;
}

section.curriculum .container .download p.english {
    display: none;
}

section.curriculum.language .container .download p.spanish {
    display: none;
}

section.curriculum.language .container .download p.english {
    display: inline-block;
}

section.curriculum.mode .container .download {
    color: rgba(255, 255, 255);
    border-color: rgba(255, 255, 255);
}

section.curriculum .container .download span {
    background-color: rgba(223.125, 223.125, 223.125);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

section.curriculum.mode .container .download span {
    background-color: rgba(31.875, 31.875, 31.875);
}

section.curriculum .container .download:hover span {
    width: 100%;
}

section.portfolio {
    background-color: rgba(223.125, 223.125, 223.125);
    color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
}

section.portfolio.mode {
    background-color: rgba(31.875, 31.875, 31.875);
    color: rgba(255, 255, 255);
}

section.portfolio .container {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    margin: 120px 0 120px;
    padding: 40px 30px;
    width: 1000px;
    justify-content: center;
    border-radius: 30px;
}

section.portfolio.mode .container {
    background-color: rgba(0, 0, 0);
}

section.portfolio .container h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

section.portfolio.language .container h2.spanish {
    display: none;
}

section.portfolio.language .container h2.english {
    display: flex;
    justify-content: center;
}

section.portfolio .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.portfolio .gallery .project {
    cursor: pointer;
    position: relative;
    max-width: 500px;
    height: fit-content;
    margin: 10px;
}

section.portfolio .gallery .project img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

section.portfolio .gallery .project .overlay {
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    border-radius: 20px;
}

section.portfolio.mode .gallery .project .overlay {
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0);
}

section.portfolio .gallery .project .overlay:hover {
    opacity: 1;
}

footer {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    position: relative;
    width: 100%;
    padding: 80px 0 20px;
    text-align: center;
}

footer.mode {
    background-color: rgba(0, 0, 0);
}

footer .up {
    position: absolute;
    width: 100%;
    top: -25px;
}

footer .up a {
    cursor: pointer;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    display: flex;
    width: 50px;
    height: 50px;
    margin: auto;
    top: -25px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 25px;
    font-weight: bold;
}

footer.mode .up a {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}

footer .up a:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}

footer.mode .up a:hover {
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
}

footer .nets {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

footer .nets a {
    cursor: pointer;
    color: rgba(0, 0, 0);
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 100%;
    font-size: 25px;
}

footer.mode .nets a {
    color: rgba(255, 255, 255);
    border-color: rgba(255, 255, 255);
}

footer .nets a:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}

footer.mode .nets a:hover {
    background-color: rgba(255, 255, 255);
    color: rgba(31.875, 31.875, 31.875);
}

footer span {
    cursor: default;
    color: rgba(191.25, 191.25, 191.25);
    font-family: sans-serif;
    font-size: 15px;
}

footer.language span p.spanish {
    display: none;
}

footer.language span p.english {
    display: flex;
    justify-content: center;
}

footer.mode span {
    color: rgba(63.75, 63.75, 63.75);
}

@media screen and (max-width: 800px) {
    body.list::before {
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 10;
    }

    header.list .container {
        background-color: rgba(255, 255, 255);
        padding: 20px 30px 250px;
    }

    header.list.mode .container {
        background-color: rgba(0, 0, 0);
    }

    header.list .container .logo {
        color: rgba(0, 0, 0);
    }

    header.list.mode .container .logo {
        color: rgba(255, 255, 255);
    }

    header .container .menu {
        display: flex;
    }

    header .container .menu i {
        cursor: pointer;
        color: rgba(127.5, 127.5, 127.5);
        font-size: 30px;
    }

    header.sticky .container .menu i {
        color: rgba(191.25, 191.25, 191.25);
    }

    header .container .menu i:hover {
        color: rgba(255, 255, 255);
    }

    header.sticky .container .menu i:hover {
        color: rgba(0, 0, 0);
    }

    header.list .container .menu i {
        color: rgba(0, 0, 0);
    }

    header.list.mode .container .menu i {
        color: rgba(255, 255, 255);
    }

    header.sticky.list .container .menu i {
        color: rgba(0, 0, 0);
    }

    header.sticky.list.mode .container .menu i {
        color: rgba(255, 255, 255);
    }

    header.sticky.mode .container .menu i {
        color: rgba(63.75, 63.75, 63.75);
    }

    ;

    header.list .container .menu i:hover {
        color: rgba(0, 0, 0);
    }

    header.list.mode .container .menu i:hover {
        color: rgba(255, 255, 255);
    }

    header.sticky.mode .container .menu i:hover {
        color: rgba(255, 255, 255);
    }

    header .container .nav {
        display: none;
    }

    header.list .container .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 30px;
        justify-content: end;
        align-items: end;
        text-align: end;
    }

    header .container .nav a {
        color: rgba(191.25, 191.25, 191.25);
        margin: 0 0 10px;
    }

    header.mode .container .nav a {
        color: rgba(63.75, 63.75, 63.75);
    }

    header .container .nav a.active {
        color: rgba(0, 0, 0);
    }

    header.mode .container .nav a.active {
        color: rgba(255, 255, 255);
    }

    header .container .nav a:hover {
        color: rgba(0, 0, 0);
    }

    header .container .nav .switchs {
        flex-direction: column;
        margin: 5px 0 0 0;
    }

    header .container .nav .switchs label {
        margin-bottom: 10px;
    }

    header .container .nav .switchs label span {
        background-color: rgba(191.25, 191.25, 191.25);
    }

    header.mode .container .nav .switchs label span {
        background-color: rgba(63.75, 63.75, 63.75);
    }

    section.home .profile {
        display: block;
    }

    section.home .profile img {
        margin: 0 30px 20px;
    }

    section.home .profile .content h1 {
        font-size: 32.5px;
    }

    section.home .profile .content h2 {
        margin-bottom: 20px;
        font-size: 17.5px;
    }

    section.home .profile .content .nets a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    section.about .container .row {
        display: block;
    }

    section.about .container .row .column {
        width: 100%;
        margin-top: 40px;
    }

    section.curriculum .container .row2 {
        display: block;
    }

    section.curriculum .container .row2 .column {
        width: 100%;
    }

    footer .nets a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}