:root {
    --light-background: rgb(225, 90, 90);
    --dark-background: rgb(135, 45, 45);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
    transition: .2s;
}

body {
    background-color: var(--light-background);
}

body.mode {
    background-color: var(--dark-background);
}

div.container {
    background-color: white;
    width: 500px;
    padding: 80px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .2);
    transform: translate(-50%, -50%);
}

div.container.mode {
    background-color: black;
}

div.container h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

div.container.mode h2 {
    color: white;
}

div.container h2 span {
    color: var(--light-background);
}

div.container.mode h2 span {
    color: var(--dark-background);
}

div.container .wrapper-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
    gap: 15px;
}

div.container input {
    padding: 15px 15px;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: #170444;
    outline: none;
}

div.container.mode input {
    border-color: darkgray;
}

div.container input:focus {
    border: 2px solid var(--light-background);
}

div.container.mode input:focus {
    border-color: var(--dark-background);
}

div.container .wrapper-1 input {
    width: 100px;
    font-size: 30px;
    font-weight: 600;
}

div.container.mode .wrapper-1 input {
    background-color: black;
    color: white;
}

div.container .box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

div.container .box label {
    font-size: 20px;
    font-weight: bold;
}

div.container.mode .box label {
    color: white;
}

div.container .box input {
    width: 100%;
    font-size: 20px;
}

div.container.mode .box input {
    background-color: black;
    color: white;
}

div.container .mode {
    display: flex;
    position: relative;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

div.container .mode span {
    cursor: pointer;
    background-color: rgba(127.5, 127.5, 127.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
}

div.container .mode span::before {
    background-size: 24px;
    position: absolute;
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    border-radius: 100%;
    content: "";
}

div.container .mode span::before {
    background-image: url(../../svgs/sun.svg);
    background-color: rgb(130, 190, 255);
    transition: .2s;
}

div.container .mode input:checked+span:before {
    background-image: url(../../svgs/moon.svg);
    background-color: rgba(30, 35, 40);
    transform: translateX(30px);
    transition: .2s;
}